
# Ignore all
*

# Except self
!.gitignore

# Except init files
!early-init.el
!init.el

# Except misc
!README.md

# Custom config location
!/custom/
!/custom/*

# Except theme
!/custom/themes/
!/custom/themes/*

# And banner
!/custom/themes/banners/
!/custom/themes/banners/*
