
# Ignore all
*

# Except self
!.gitignore

# Except config files
!config.el
!init.el
!package.el

# Except misc
!README.md

# Except theme
!/themes/
!/themes/*

# And banner
!/themes/banners/
!/themes/banners/*
