
# Ignore all
*

# Except self
!.gitignore

# Except init files
!early-init.el
!init.el

# Except misc
!README.md
!/snippets/
!/snippets/*
!/snippets/**/*

# Custom config location
!/config/
!/config/*
!/config/**/*

# Ignore bookmarks in config
bookmarks
